* {
    box-sizing: boder-box;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: rgb(160, 160, 160);
    font-size: 16px;
}

.container {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: center;
    background: rgb(42, 160, 42);
}
.title h1 {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.restaurants {
    border: 1px solid rgb(214, 214, 214);
    flex-basis: 85%;
    overflow: scroll;
    overflow-x: hidden;
}

.restaurant {
    border-bottom: 1px solid rgb(214, 214, 214);
    display: flex;
    align-items: center;
    padding: 15px 10px;
}

.restImg {
    border-radius: 2px;
    margin-right: 5px;
    width: 35%;
    overflow: hidden;
}

.restImg img {  width: 100%; }

.restDesc {
    width: 65%;
    margin: 0 10px;
}

.restName {
    font-weight: 400;
    color: rgb(43, 43, 43);
    margin: 0;
}

.restDesc .reviews {
    display: block;
    font-size: 0.8rem;
    margin: 5px 0;
}
.icon-star-full {
    color: rgb(42, 160, 42);
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 221, 221);
    padding: 10px 0;
}

.nav a {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

.nav span {
    font-size: 1.4rem;
}

.pluxBox {
    height: 0;
    position: relative;
}

.pluxBox .plus {
    display: flex;
    position: relative;
    border: 6px solid white;
    margin: -7% 43%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(42, 160, 42);
    justify-content: center;
    align-items: center;
}
.pluxBox .plus .icon-plus {
    position: relative;
    font-size: 1.5rem;
    color: white;
}
